/* Here is my own style css. */

body, html {
	margin: 0;
	overflow: hidden;
	height: 100%;
	min-width: 1000px;
	font-family: "Lato", "Source Sans Pro", "Dengxian", sans-serif;
}

kbd {
    color: white;
    background-color: #1C1C1C;
    border-radius: 2px;
    padding-left:  2px;
    padding-right: 2px;
}

/* 正文被选中文本 */
.content *::selection {
	background: #84D8D0;
	color: white;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
	font-family: "Lato", "Source Sans Pro", "Dengxian", sans-serif;
/*	text-align: justify;    not for English */
}

h1 {
	font-size: 2em;
	font-weight: 900;
}	

h2 {
	font-size: 1.8em;
	font-weight: 900;
}

p {
	font-size: 1.1em;
	font-weight: 100;
	padding-bottom: .3em;
	line-height: 1.6em;
}

blockquote {
	font-size: 1.1em;
	font-weight: 100;
	border-left: .2em solid #84D8D0;
	padding-left: .6em;
	font-style: italic;
}

a:link, a:hover, a:visited, a:active {
/*	color: #96E4DC;*/
    color: #6DABA6;
	text-decoration: none;
	transition: background .3s ease-in-out;
}

a:hover {
     background-color: #222531;
}

#left-div {
	float: left;
	height: 100%;
	width: 20em;
	background-color: #302D3A;
	box-shadow: 0em 0em .3em #302D3A;
	color: #84D8D0;
	font-weight: 100;
	
    /* 不允许用户选中文本 */
	-moz-user-select: none;     /*火狐*/
	-webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;      /*IE10*/
    -khtml-user-select: none;   /*早期浏览器*/
    user-select: none;
}

	.pic-of-me {
		width: 100%;
	}

	.pic-of-me img {
		position: relative;
		width: 50%;	/* 10em */
		height: auto;
		border-radius: 50%;
		box-shadow: 0em 0em .5em #84D8D0;
		transition: box-shadow .5s ease-in-out;
		margin: 5em;
		margin-bottom: 2em;
	}
	
	.pic-of-me img:hover {
		box-shadow: 0em 0em 1em #84D8D0;
	}
	
	.name {
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
		line-height: 3em;
	}
	
	.link {
		text-align: center;
		line-height: 3em;
		transition: background .3s ease-in-out;
	}
	
	.link:hover {
		background-color: #222531;
	}

/* smartphones */
@media only screen and (max-device-width: 1080px) {
	#left-div {
		width: 100%;
	}
}
