body, html {
	margin: 0;
	padding: 0;
	background: #263238;
	font-family: 'Source Han Sans CN', 'Helvetica Neue', helvetica, "Microsoft Yahei", sans-serif; 
}

a, a:hover, a:link, a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

i {
	font-family: serif;
}

#menu {
	position: fixed;
	top: 10%;
	height: 80%;
	min-height: 400px;
	left: 100px;
}

#menu h1 a img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	box-shadow: 0em 0em .1em #84D8D0;
	transition: box-shadow .5s ease-in-out;
}

#menu h1 a img:hover {
	box-shadow: 0em 0em .5em #84D8D0;
}

#menu ul li {
	float: left;
	clear: both;
	background: #80CBC4;
	padding: .2em;
	margin: 0 10px 20px 0;
}

#menu ul li:hover {
	background: #446969;
}

#menu ul li a {
	color: #84FFFF;
	text-decoration: none;
	text-transform: uppercase;
}

#center {
	width: 600px;
	margin: 100px 0 0 350px;
}

.post {
	color: #84FFFF;
	margin: 5em 0;
}

.rich_media_content h2:before {
	content: "「";
}
.rich_media_content h2:after {
	content: "」";
}

.post p {
	color: #84FFFF;
	font-weight: 100;
	font-size: 1em;
}

.post.chinese p {
	font-weight: normal;
	text-align: justify;
	text-justify: distribute; 
}

.post .links a {
	color: #2ecc71;
	margin: 0 .2em 0 .2em;
}

.post a:hover {
	color: #2ecc71;
	text-decoration: underline;
}

.post a:link {
	color: #2ecc71;
}

.post a:visited {
	color: #d35400;
}

.post .image-wrapper {
	width: 100%;
	position: relative;
	white-space: nowrap;
	overflow-x: scroll;
}

.post .image-wrapper .images {
	width: 500%;
}

.post .image-wrapper img {
	width: 30em;
	float: left;
	display: inline-block;
	margin: 0 1em 1em 0;
}

.rich_media_content img {
	width: 100%;
}

.post iframe {
	width: 600px;
	height: 470px;
}

ul#portfolioOverview li {
	float: right;
	transition: all .5s ease-in-out;
	margin: 0 5px 5px 0;
	width: 195px;
	height: 192px;
	background-size: cover;
	line-height: 100%;
}

ul#portfolioOverview li.featured {
	width: 395px;
}

ul#portfolioOverview li:hover {
	z-index: 9999;
	box-shadow: -1em 0 0;
}

ul#portfolioOverview a,
ul#portfolioOverview a:link,
ul#portfolioOverview a:visited,
ul#portfolioOverview a:hover {
	text-decoration: none;
}

ul#portfolioOverview li#watchedapp {
	color: rgba(80, 148, 243, 1);
	background-image: url("http://7xjjp0.com1.z0.glb.clouddn.com/portfolio_watched_logo.png");
}

ul#portfolioOverview li#github-pages {
	color: #84d8d0;
	background-image: url("http://7xjjp0.com1.z0.glb.clouddn.com/me.png");
}

ul#portfolioOverview li#watchedapp:hover,
ul#portfolioOverview li#github-pages:hover {
	box-shadow: 1em 0 0;
}

ul#portfolioOverview li#numerous-sdk:hover {
	box-shadow: 0 1em 0;
}

ul#portfolioOverview li#doumail-back {
	color: #2EA45F;
	background-image: url("https://github.com/iplus26/doumail-back/raw/master/readme_images/Screenshot.png");
	background-color: #2EA45F;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

ul#portfolioOverview li#doumail-back:hover {
	box-shadow: 0 -1em 0;
}

ul#portfolioOverview li#numerous-sdk {
	color: rgba(52, 73, 94, 1);
	background-image: url("http://numerousapp.com/img/numerous-light.png");
	background-size: 90%;
	background-position: center;
	background-color: #34495e;
	background-repeat: no-repeat; 
}

ul#portfolioOverview li#maywide {
	color: white;
	background-image: url("http://www.tech-ex.com/premium/broadcast/maywide/img/lg_maywide.gif");
	background-position: center;
	background-size: 90%;
	background-color: white;
	background-repeat: no-repeat;
}

ul#portfolioOverview li#doumail-back:hover:before {
	content: "";
	line-height: 100%;
}

ul#portfolioOverview li .content {
	height: 192px;
	background: black;
	opacity: 0;
}
ul#portfolioOverview li:hover .content {
	opacity: .7;
	transition: all .2s ease-in-out;
}
ul#portfolioOverview li:hover .content h2,
ul#portfolioOverview li:hover .content p {
	margin: 0;
	padding: 10px;
	color: white;
	opacity: 1;
}

#wechat-qrcode {
	width: 128px;
	height: 128px;
	border: 1px #84FFFF solid;
}

#copyright {
	position: fixed;
	bottom: 0;
	right: 0;
	color: #84FFFF;
	padding: .2em;
	margin: 1em 0 1em 0;
	background: #80CBC4;
}